@import 'bootstrap/scss/bootstrap';

.items {
	display: flex;
	font-family: 'Nunito', sans-serif;
	margin: 0;

	.dashboardContainer {
		flex: 8;
	}
}

.sidebar-brand {
	background-color: #e9e9e9;
	padding: 0.5rem 1.25rem;
	font-size: 1.25rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.red-margin {
	color: red;
}

.sidebar {
	background-color: #e9e9e9;
	color: '#e9e9e9';
}
