@import 'bootstrap/scss/bootstrap';

.items {
  display: flex;
  font-family: 'Nunito', sans-serif;
  margin: 140px 0 0 0;

  .explore-content {
    flex: 8;
    margin: 20px 20px;

    .brand-statistic {
      display: flex;
      margin: 20px 50px;
      gap:50px;

      .widget {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        height: 100px;


        .left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .title {
            font-size: 18px;
            font-weight: bold;
            color: rgb(160, 160, 160);
          }

          .counter {
            font-size: 28px;
            font-weight: 300;
          }


        }

        .right {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .icon {
            font-size: 25px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
          }
        }
      }
    }
  }
}

.sidebar-brand {
  // padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
  //rounded corners
  border-radius: 0.50rem;
}

.red-margin {
  color: red;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1.4;
  background-color: #2938c3;
  color: 'white';
  font-family: "Nunito", sans-serif;

}

.explore-dropdown {
  margin-bottom: 50px;
  //BOLD	
  font-weight: 700;
  //font color
  color: #ffffff;

}



.excel-export {
  margin-top: 20px;
}