// .ant-table-tbody .ant-table-cell:nth-child(even) {
//   background-color: #b8b8b8;
// }

// change antd Table row height and font size
.ant-table-row {
  font-size: 16px;
  height: 64px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

//change antd Table row color
.ant-table-tbody .ant-table-row:nth-child(even) {
  background-color: #F5F5F5;
}

.ant-table-tbody .ant-table-row:nth-child(odd) {
  background-color: #ffffff;
}

//change antd Table header color
.ant-table-thead .ant-table-cell {
  background-color: #DFFFD8 !important;
  font-size: 16px !important;
  // color: white !important;
  }
