// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.container-fluid {
	background-color: #2938c3;
	background-image: url('https://www.transparenttextures.com/patterns/binding-dark.png');
	height: 100%;
	width: 100%;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 100%;
}

.container-xl {
	margin-top: 120px;
}

.navbar {
	background-color: $yellow-500;
	padding: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Space Mono', monospace;
	font-size: larger;
	position: fixed;
	z-index: 10;
	width: 100%;
	top:0;
}

nav svg {
	width: 40px;
	$thumbnail-border-radius: var(--#{$prefix}border-radius);
	margin-right: 40px;
}

td svg {
	width: 20px;
	$thumbnail-border-radius: var(--#{$prefix}border-radius);
}

nav button {
	width: 60px;
	margin-left: 40px;
}

nav .nav_right {
	display: flexbox;
	justify-content: space-between;
}

.ant_table_thead {
	background-color: gray;
}

.site-form-in-drawer-wrapper {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 100%;
	padding: 10px 16px;
	text-align: right;
	background: #fff;
	border-top: 1px solid #e9e9e9;
}

#footer {
	text-align: center;
	color: #b1d4e0;
}

.ant-statistic .ant-statistic-title {
	text-align: center;
	font-size: 20px;
	color: #050833;
}

.ant-statistic-content {
	text-align: center;
	font-size: 18px;
}

.ant-table-column-title {
	text-align: center;
}

.ant-table-content .ant-table-thead .ant-table-cell {
	text-align: center;
}
