// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.navbar {
	background-color: $yellow-500;
	padding: 30px;
}

.nav_link .btn {
	font-family: 'Source Sans Pro', sans-serif;
}
nav svg {
	width: 40px;
	$thumbnail-border-radius: var(--#{$prefix}border-radius);
	margin-right: 40px;
}

td svg {
	width: 20px;
	$thumbnail-border-radius: var(--#{$prefix}border-radius);
}

nav button {
	width: 60px;
	margin-left: 40px;
}

nav .nav_right {
	display: flexbox;
	justify-content: space-between;
}

.ant_table_thead {
	background-color: gray;
}
