.datatable {
  height: 600px;
  padding: 20px;

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.processing {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.canceled {
      background-color: rgba(255, 0, 0, 0.05);
      color: rgb(220, 20, 213);
    }
    &.holded {
      background-color: rgba(255, 0, 0, 0.05);
      color: rgb(37, 20, 220);
    }
    &.fraud {
      background-color: rgba(255, 0, 0, 0.05);
      color: rgb(220, 20, 20);
    }
    &.complete {
      background-color: rgba(255, 0, 0, 0.05);
      color: rgb(70, 220, 20);
    }
  }

  .MuiToolbar-root {
    p {
      margin: 0;
    }
  }

}